
.AllProduct {
    position: relative;
    z-index: 1;
}

.AllProduct:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://drive.google.com/thumbnail?id=1wMiPhggWDO0xJF2Ld2dNo8TcXLdcRQzT") center center;
    background-size: cover;
    opacity: 0.8;
}
.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  
  .AllProduct p{
      color: black;
      font-size:1.5vw;
      
  }
  .AllProduct h3{
    color: black;
    font-size: 2.5vw;
    
}
