.Atrog {
    position: relative;
    z-index: 1;
}

.Atrog:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("./Images/rekaHome.jpg") center center;
    background-size: cover;
    opacity: 0.8;
}

.Soca {
    position: relative;
    z-index: 1;
}

.Soca:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("./Images/reka.webp") center center;
    background-size: cover;
    opacity: 0.8;
}
header {
    position: relative;
    background-color: rgb(4, 150, 28);
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
  }

  /* @media (pointer: coarse) and (hover: none) {
    header {
      background: url('./vidoe/Test2.mp4') no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
   */

  video {
    display: block;
    width: 100%;
    max-height: 100%;
  }